#app {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 50px 25px 100px 25px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 700px;
  margin: auto;
}

.rc-slider-tip-container {
  margin-top: 15px;
}
