#app {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 50px 25px 100px 25px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 700px;
  margin: auto;
}

.rc-slider-tooltip-inner {
  position: relative;
  padding: 0;
  background: none;
  box-shadow: none;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  min-width: auto;
  color: black;
}
